@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  background: url(/static/darkness.png) repeat;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body div{
  box-sizing: border-box;
 }
